@model IEnumerable<Booking.Models.Flight>

@{
    ViewData["Title"] = "Flight List";
}

@*<h1>Flight List</h1>*@

@if (@Model == null || !@Model.Any())
{
    <div class="alert alert-danger">
        No flights found
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OriginCountry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DestinationCountry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlightDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReturnDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvailableSeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginCountry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DestinationCountry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlightDate)
                    </td>
                    @if (item.ReturnDate != DateTime.MinValue)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.ReturnDate)
                        </td>
                    }
                    else
                    {
                        <td>
                            One Way
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.AvailableSeats)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="HowManyTickets" asp-route-id="@item.FlightId" class="btn btn-primary">Click Here to Choose Number Of Tickets</a>

                    </td>
                </tr>
            }
        </tbody>


        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary">Order By</button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                    <a asp-action="GetAllFlights" asp-route-id="1" class="btn btn-outline-secondary">Descending Price</a>
                    <a asp-action="GetAllFlights" asp-route-id="2" class="btn btn-outline-secondary">Ascending Price</a>
                    <a asp-action="GetAllFlights" asp-route-id="4" class="btn btn-outline-secondary">Origin Country</a>
                    
                </div>
            </div>
        </div>        
    
        @*<a asp-action="GetAllFlights" asp-route-id="3">View All The Flights</a>*@
    </table>
}

